/*
Colors used:
Primary Color (White): #FEFEFE;
Secondary Color (Dark Blue): #0E1E77;
Secondary Color (Medium Blue): #6D75E7;
Secondary Color (Light Blue): #98A0F1;
Accent Color (Yellow): #F7BD33;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #FEFEFE;
  font-family: 'Spartan', sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
  color: #0E1E77;
}

h1, h2, h3 {
  line-height: 1.4;
}

h1 {
  font-size: 1.75em;
  font-weight: 700;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
}

h3 {
  font-size: 1.25em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #0E1E77;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #B54242;
}

a:hover,
a:focus {
  color: #6D75E7;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #F7BD33;
}

footer {
  background-color: #f4f4f4;
  padding: 10px 0;
}

.button {
  display: inline-block;
  background-color: #0E1E77;
  color: #FFFFFF;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #98A0F1;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:visited {
  color: #FFFFFF;
}

.button:hover,
.button:focus {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  opacity: 0.8;
  border-top: 2px solid #0E1E77;
  border-bottom: 0px
}

.button.contact {
  background-color: transparent;
  color: #0E1E77;
  text-transform: uppercase;
  border: 2px solid #0E1E77;
}

.button.contact:hover {
  background-color: #0E1E77;
  color: #ffffff;
}

.button.contact:active {
  background-color: #98A0F1;
  border: #6D75E7;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

#work #jane {
  padding-bottom: 25px;
  border-bottom: 1px solid #0E1E77;
}

#work #dot {
  padding-bottom: 25px;
  border-bottom: 1px solid #0E1E77;
}

#work h2 {
  margin: 25px 0;
}

#hero h1 {
  text-align: center;
  font-size: 2.0em;
}

.logo {
  max-width: 250px;
  padding-top: 10px;
}

header {
  background-color: #DEE0F7;
  text-align: center;
  padding: 10px 0;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.3);
  position: fixed;
  width: 100%;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: #6D75E7;
}

nav>ul>li>a:visited {
  color: #98A0F1
}

nav>ul>li>a:hover,
nav>ul>li>a:focus {
  text-decoration: underline;
}

nav>ul>li>a:active {
  color: #F7BD33
}

nav {
  display: inline-block;
  width: 100%;
}

#hero {
  background-color: #f4f4f4;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

main {
  padding-top: 135px;
}

.social {
  text-align: center;
  padding-top: 20px;
}

.social a {
  display: inline-block;
  margin: 5px;
}

.social svg {
  width: 40px;
  height: auto;
}

#copyright {
  font-size: 0.8em;
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.takeaway {
  padding-bottom: 25px;
}

#about #skills {
  padding-top: 15px;
}

#work h3 {margin-top: 20px;}

.berlin-illustration {
width: 100%;
max-width: 100%;
height: auto;
}

@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
  text-align: unset;
  padding: 20px 0 13px;
}

nav {
  width: auto;
  float: right;
  margin-top: 4px;
}

main {padding-top: 99px;}

#hero {text-align: center;}

#hero span {
  display: block;
}

.col-md-6 {
  width: 50%;
}

[class*="col-"] {
  float: left;
  padding: 0 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#about h3 { margin-top: 0;}

#work h3 {margin-top: 0px;}

#contact h2 {text-align: center;}

#about .row {margin-top: 5px;}

#about .col-lg-5 {
  width: 100%;
}

#contact #email {text-align: center;}

#project h2 {margin-top: 35px;
margin-bottom: 15px;}

#project h3 {margin-top: 27px;
margin-bottom: 15px;}

footer p {text-align: center;}

#about img {max-width: 300px;
margin: auto;
display: block;}
}



/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 58.3%;
  }

  .col-lg-5 {
    width: 41.6%;
  }

  #about .col-md-6 {width: 100%}

  #about .col-lg-5 {width: 41.6%;}

  #skills {padding-left: 30px;}

  .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#project img {max-width: 700px;
margin: auto;
display: block;}

}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
